<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-5" style="padding-left: 50px;">
		<h3>Login to ASN(Amrita Social Network)</h3>
	</div>
</div>

<form class="form-horizontal" action="/getinfo">
  <div class="form-group">
  <div class="col-md-4"></div>
    <div class="col-sm-3" style="padding-left: 100px;">
      <input type="email" class="form-control" name="Email1" placeholder="Email">
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="form-group">
    <div class="col-md-4"></div>
    <div class="col-sm-3" style="padding-left: 100px;">
      <input type="password" class="form-control" name="Password1" placeholder="Password">
    </div>
    <div class="col-md-5"></div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-7">
      <div class="checkbox" align="center">
        <label>
          <input type="checkbox">Agree Terms & conditions
        </label>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success" style="margin-left:100px;padding-left:100px;padding-right: 100px;">Sign in</button>
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <a href="/Signup" class="btn btn-primary" style="margin-left:100px;padding-left:100px;padding-right: 90px;">Register</a>
    </div>
  </div>
</form>
</body>
</html>