<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header col-md-4">
      <a class="navbar-brand" href="#" style="padding-left: 250px;">Amrita Social Network</a>
    </div>
    <div class="col-md-4"></div>
    <div class="navbar-header col-md-4">
      <a class="navbar-brand" href="#" style="padding-left: 250px;">My Profile</a>
    </div>
  </div>
</nav>


<div class="row">
 <div class="col-md-2"></div>
	<div class="col-md-2">
      <figure>
        <img src="http://placehold.it/100?text=500x250" class="img-thumbnail" height="126" width="253">
        <h3> <%= Your[0].Name%></h3>
        <h5>E-mail: <%= Your[0].Email%></h5>
        <h5>Username: <%= Your[0].Username%></h5>
      </figure>
    </div>

</body>
</html>