<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
</head>
<body>
 <div class="row">
 	<div class="col-sm-2"></div>
 	<div class="col-sm-8"><p align="center" style="font-size:45px;padding-top:100px;font-family:'Passion One';letter-spacing: 2px;">Amrita Social Network Register</p></div>
 </div>
 <form action="/formsubmit">
 <div class="row">
 <div class="col-sm-4"></div>
 <div class="col-sm-3" style="padding-left: 40px;font-family: 'Oxygen';">
  <div class="form-group">
    <label for="email">Your name:</label>
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    <input type="name" class="form-control" name="Name" placeholder="Enter your Name">
    </div>
  </div>
  <div class="form-group">
    <label for="pwd">Your Email-id:</label>
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
    <input type="email" class="form-control" name="Email" placeholder="Enter your e-mail">
  </div>
  </div>
  <div class="form-group">
    <label for="email">Your Username:</label>
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
    <input type="text" class="form-control" name="Username" placeholder="Enter your Username">
  </div>
  </div>
  <div class="form-group">
    <label for="pwd">Your Password:</label>
    <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
    <input type="password" class="form-control" name="Password" placeholder="Enter your password">
  </div>
  </div>
  <div class="form-group">
   <button type="submit" class="btn btn-primary" style="padding-left:40px;padding-right: 40px;">Register</button>
  </div>
<h3>
Already a user
</h3>
<a href="/Login" class="btn btn-primary" style="padding-left:40px;padding-right: 40px;">Login</a>
</div>
</div>
</form>

</body>
</html>